In [26]:
import pandas as pd

In [2]:
raw_data=pd.read_csv('C:\\rawData\\2022년 지역별, 항목별 개인형 이동장치(PM) 주행실태 준수율(%).csv',encoding='cp949')

In [7]:
raw_data

         구분  안전모 착용 안전모 착용.1  주행방향 준수 주행방향 준수.1  탑승 인원 준수 탑승 인원 준수.1
0       NaN  2022.0     2021   2022.0      2021    2022.0       2021
1        전국    19.2     26.3     94.3      87.5      92.7       96.3
2     서울특별시    12.6     19.8     99.5      91.6      95.2       95.3
3       경기도    19.7     33.8     92.8        80      94.7       97.5
4     인천광역시    11.7       14     93.7      62.5      89.8       96.8
5     대전광역시    32.5     43.4     99.7      94.7      93.8       95.6
6     광주광역시    40.3     20.5     91.9      94.7      91.5       97.7
7     부산광역시    13.2     37.3     91.4      98.7      96.8         94
8     대구광역시    28.1     30.7     71.1       100      80.7       97.3
9   세종특별자치시    10.0        -    100.0         -      80.0          -
10     경상남도    12.5        -     73.8         -      98.8          -

In [18]:
data_2022=raw_data[["구분","안전모 착용","주행방향 준수","탑승 인원 준수"]]
data_2021=raw_data[["구분","안전모 착용.1","주행방향 준수.1","탑승 인원 준수.1"]]

In [19]:
pm_2021=data_2021[1:10]
pm_2022=data_2022[1:10]

In [22]:
pm_2021.replace('-',0,inplace=True)
pm_2021.columns=["구분","안전모 착용","주행방향 준수","탑승 인원 준수"]
pm_2022.replace('-',0,inplace=True)

C:\Users\UOS\AppData\Local\Temp\ipykernel_8\630227881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm_2021.replace('-',0,inplace=True)
C:\Users\UOS\AppData\Local\Temp\ipykernel_8\630227881.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm_2022.replace('-',0,inplace=True)

In [23]:
pm_2021

        구분 안전모 착용 주행방향 준수 탑승 인원 준수
1       전국   26.3    87.5     96.3
2    서울특별시   19.8    91.6     95.3
3      경기도   33.8      80     97.5
4    인천광역시     14    62.5     96.8
5    대전광역시   43.4    94.7     95.6
6    광주광역시   20.5    94.7     97.7
7    부산광역시   37.3    98.7       94
8    대구광역시   30.7     100     97.3
9  세종특별자치시      0       0        0

In [24]:
pm_2022

        구분  안전모 착용  주행방향 준수  탑승 인원 준수
1       전국    19.2     94.3      92.7
2    서울특별시    12.6     99.5      95.2
3      경기도    19.7     92.8      94.7
4    인천광역시    11.7     93.7      89.8
5    대전광역시    32.5     99.7      93.8
6    광주광역시    40.3     91.9      91.5
7    부산광역시    13.2     91.4      96.8
8    대구광역시    28.1     71.1      80.7
9  세종특별자치시    10.0    100.0      80.0

In [34]:
pm_merge=pd.concat([pm_2021,pm_2022],axis=1)
pm_merge.columns=["구분","안전모 착용(2021년)","주행방향 준수(2021년)","탑승 인원 준수(2022년)","구분","안전모 착용(2022년)","주행방향 준수(2022년)","탑승 인원 준수(2022년)"]
pm_final=pm_merge[["구분","안전모 착용(2021년)","주행방향 준수(2021년)","탑승 인원 준수(2022년)","안전모 착용(2022년)","주행방향 준수(2022년)","탑승 인원 준수(2022년)"]]

In [36]:
pm_final

,구분,구분,안전모 착용(2021년),주행방향 준수(2021년),탑승 인원 준수(2022년),탑승 인원 준수(2022년),안전모 착용(2022년),주행방향 준수(2022년),탑승 인원 준수(2022년),탑승 인원 준수(2022년)
1,전국,전국,26.3,87.5,96.3,92.7,19.2,94.3,96.3,92.7
2,서울특별시,서울특별시,19.8,91.6,95.3,95.2,12.6,99.5,95.3,95.2
3,경기도,경기도,33.8,80,97.5,94.7,19.7,92.8,97.5,94.7
4,인천광역시,인천광역시,14,62.5,96.8,89.8,11.7,93.7,96.8,89.8
5,대전광역시,대전광역시,43.4,94.7,95.6,93.8,32.5,99.7,95.6,93.8
6,광주광역시,광주광역시,20.5,94.7,97.7,91.5,40.3,91.9,97.7,91.5
7,부산광역시,부산광역시,37.3,98.7,94,96.8,13.2,91.4,94,96.8
8,대구광역시,대구광역시,30.7,100,97.3,80.7,28.1,71.1,97.3,80.7
9,세종특별자치시,세종특별자치시,0,0,0,80.0,10.0,100.0,0,80.0