# 서울특별시 전동킥보드 견인 현황

1. 데이터명 : 서울특별시_전동킥보드_견인_현황_20220731
2. 목적 : 이 데이터에서는 다음과 같이 3가지를 도출할예정
- 서울시 내에 어떠한 자치구에서 가장 많은 견인이 발생하는지 -> 전동킥보드가 어떠한 자치구에 가장 많은 도로 혼잡을 야기하는지(단순 바차트로 표현해도 되고, 박재성 팀 자료처럼 서울시 지도에 명암 다르게 해서 표현도 가능할듯)

- 어떠한 견인 유형이 가장 많이 발생하고 있는지 -> 결론에서 단속 및 규제의 방향성을 도출하기 위한 자료

- 실제 견인이 발생하고 있는 자세한 주소 -> 지도에 산점도처럼 표시해서 이렇게나 넓고 랜덤한 지역에서 견인이 발생하고 있음을 보여주기 위함

In [2]:
# rawData
import pandas as pd
df3 = pd.read_csv('C:\\rawData\\서울특별시_전동킥보드_견인_현황_20220731.csv', encoding='cp949')
df3

,번호,신고일,구정보,주소,유형,조치일
0,1,2021-07-15,동작구,서울특별시 동작구 상도동 215-45,"점자블록, 엘리베이터 입구",2021-07-15
1,2,2021-07-15,동작구,서울특별시 동작구 상도동 172-28,보도 중앙,2021-07-15
2,3,2021-07-15,동작구,서울특별시 동작구 대방동 356-2,"버스정류장, 택시 승강장",2021-07-15
3,4,2021-07-15,동작구,서울특별시 동작구 대방동 354-1,"버스정류장, 택시 승강장",2021-07-15
4,5,2021-07-15,동작구,서울특별시 동작구 신대방동 460-30,보도와 차도가 구분된 도로의 차도,2021-07-15
...,...,...,...,...,...,...
60600,60601,2022-07-29,동작구,서울특별시 동작구 사당동 708-1025,보도와 차도가 구분된 도로의 차도,2022-07-29
60601,60602,2022-07-29,관악구,서울특별시 관악구 봉천동 1693-55,보도와 차도가 구분된 도로의 차도,2022-07-29
60602,60603,2022-07-29,동작구,서울특별시 동작구 사당동 175-56,보도와 차도가 구분된 도로의 차도,2022-07-29
60603,60604,2022-07-29,동작구,서울특별시 동작구 사당동 175-26,보도와 차도가 구분된 도로의 차도,2022-07-29
60604,60605,2022-07-29,중랑구,서울특별시 중랑구 면목동 197-10,보도와 차도가 구분된 도로의 차도,2022-07-29

In [45]:
# 어느 구에서 가장 많은 견인이 발생했는지 (2021.07.15 ~ 2022.07.29)
df3_county = df3.groupby(by='구정보').count().reset_index()[['구정보','번호']].rename(columns={'구정보':'자치구명', '번호' : '견인수'}).sort_values('견인수',ascending=False)
df3_county

    자치구명   견인수
12   마포구  7408
17   송파구  6492
19  영등포구  5381
15   성동구  4119
11   동작구  3949
4    관악구  3877
14   서초구  3316
0    강남구  3234
5    광진구  2690
3    강서구  2481
1    강동구  2294
10  동대문구  2023
20   용산구  1701
24   중랑구  1683
13  서대문구  1431
9    도봉구  1387
6    구로구  1373
18   양천구  1242
8    노원구  1032
22   종로구   998
23    중구   915
16   성북구   706
2    강북구   528
21   은평구   343
7    금천구     2

In [44]:
# 어떠한 견인 유형이 가장 많은지
df3_type = df3.groupby(by='유형').count().reset_index()[['유형','번호']].rename(columns={'유형':'견인유형','번호':'견인수'}).sort_values('견인수',ascending=False)
df3_type

                  견인유형    견인수
5   보도와 차도가 구분된 도로의 차도  27434
14         횡단보도, 산책로 등   9819
3        버스정류장, 택시 승강장   8198
10      점자블록, 엘리베이터 입구   4496
11      지하철역 진출입로 및 주변   3582
4                보도 중앙   3073
9               자전거 도로   2892
2                   기타    905
0       건물, 상가 보행자 진출입    101
7                  오신고     48
6        소방시설 5m 이내 구역     22
12          턱을 낮춘 진출입로     19
8         육교위, 지하보차도 안      9
1               계단, 난간      3
13             통행제한 구간      3

In [8]:
# 실제 주소 데이터만 추출
df3_address = df3[['주소']]
df3_address

                           주소
0        서울특별시 동작구 상도동 215-45
1        서울특별시 동작구 상도동 172-28
2         서울특별시 동작구 대방동 356-2
3         서울특별시 동작구 대방동 354-1
4       서울특별시 동작구 신대방동 460-30
...                       ...
60600  서울특별시 동작구 사당동 708-1025
60601   서울특별시 관악구 봉천동 1693-55
60602    서울특별시 동작구 사당동 175-56
60603    서울특별시 동작구 사당동 175-26
60604    서울특별시 중랑구 면목동 197-10

[60605 rows x 1 columns]